.navbar {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 20px;
  padding: 20px;
  transition: background-color 0.3s;
}
.navbar:hover {
  background-color: #f1fffe;
}
.navbar__label {
  font-size: 18px;
  font-weight: bold;
}
